In [1]:
import seaborn as sn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:

ibon_ni_cristina = pd.read_csv('datasets\\penguins.csv')

In [3]:
ibon_ni_cristina

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [4]:
ibon_ni_cristina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [5]:
ibon_ni_cristina.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [6]:
ibon_ni_cristina['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339       Biscoe
340       Biscoe
341       Biscoe
342       Biscoe
343       Biscoe
Name: island, Length: 344, dtype: object

In [7]:
ibon_ni_cristina['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339     NaN
340    46.8
341    50.4
342    45.2
343    49.9
Name: bill_length_mm, Length: 344, dtype: float64

<h1> How to create your own column <h1>

In [8]:
ibon_ni_cristina['weight_kg'] = ibon_ni_cristina['body_mass_g'] / 1000

In [9]:
ibon_ni_cristina

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,3.75
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,3.80
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,3.25
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,3.45
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE,4.85
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE,5.75
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE,5.20
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE,5.40

In [10]:
ibon_ni_cristina['weight_kg'] = np.round(ibon_ni_cristina['body_mass_g'] / 1000, 1)

In [11]:
ibon_ni_cristina

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,3.8
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,3.2
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,3.4
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE,4.8
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE,5.8
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE,5.2
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE,5.4

<h1> Applying Function to a Column </h1>

In [12]:
ibon_ni_cristina['body_mass_g'].median()

4050.0

In [ ]:
ibon_ni_cristina['body_mass_g'] = ibon_ni_cristina['body_mass_g'].fillna(ibon_ni_cristina['body_mass_g'].mean()

In [13]:
ibon_ni_cristina['body_mass_g'].mean()

4201.754385964912

In [14]:
ibon_ni_cristina['body_mass_g'].mode()

0    3800.0
Name: body_mass_g, dtype: float64

<h1> Checking of Null Values </h1>

In [15]:
ibon_ni_cristina.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,True,True,True,True,True,True
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

In [16]:
ibon_ni_cristina.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
weight_kg             2
dtype: int64

<h1> Filling the Missing Values in the Data Frame </h1>

In [17]:
ibon_ni_cristina['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339     NaN
340    46.8
341    50.4
342    45.2
343    49.9
Name: bill_length_mm, Length: 344, dtype: float64

In [18]:
# ibon_ni_cristina['bill_length_mm'] = ibon_ni_cristina['bill_length_mm'].mean()
ibon_ni_cristina['bill_length_mm'] = ibon_ni_cristina['bill_length_mm'].fillna(ibon_ni_cristina['bill_length_mm'].mean())

In [19]:
ibon_ni_cristina.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
weight_kg             2
dtype: int64

In [20]:
ibon_ni_cristina['sex'] = ibon_ni_cristina['sex'].fillna(ibon_ni_cristina['sex'].mode()[0])

In [21]:
ibon_ni_cristina.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
weight_kg            2
dtype: int64

In [22]:
ibon_ni_cristina['sex'].mode()

0    MALE
Name: sex, dtype: object

In [23]:
ibon_ni_cristina['bill_depth_mm'] = ibon_ni_cristina['bill_depth_mm'].fillna(ibon_ni_cristina['bill_depth_mm'].mean())

In [24]:
ibon_ni_cristina.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    2
body_mass_g          2
sex                  0
weight_kg            2
dtype: int64

In [25]:
ibon_ni_cristina['flipper_length_mm'] = ibon_ni_cristina['flipper_length_mm'].fillna(ibon_ni_cristina['flipper_length_mm'].mean())

In [26]:
ibon_ni_cristina.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          2
sex                  0
weight_kg            2
dtype: int64

In [27]:
ibon_ni_cristina['body_mass_g'] = ibon_ni_cristina['body_mass_g'].fillna(ibon_ni_cristina['body_mass_g'].mean())

In [28]:
ibon_ni_cristina.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
weight_kg            2
dtype: int64

In [29]:
ibon_ni_cristina['weight_kg'] = ibon_ni_cristina['weight_kg'].fillna(ibon_ni_cristina['weight_kg'].mean())

In [30]:
ibon_ni_cristina.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
weight_kg            0
dtype: int64

In [31]:
ibon_ni_cristina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   weight_kg          344 non-null    float64
dtypes: float64(5), object(3)
memory usage: 21.6+ KB

In [32]:
ibon_ni_cristina['species'] = ibon_ni_cristina['species'].astype('category')

In [33]:
ibon_ni_cristina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   weight_kg          344 non-null    float64
dtypes: category(1), float64(5), object(2)
memory usage: 19.4+ KB

<h1> Data Exploration </h1>

In [34]:
ibon_ni_cristina['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [35]:
ibon_ni_cristina['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h1> Does the adelie penguin live exclusively on an Island</h1>
<h3> Filtered Data </h3>

In [36]:
ibon_ni_cristina['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [37]:
ibon_ni_cristina[ibon_ni_cristina['species'] == 'Adelie']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,MALE,3.800000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,FEMALE,3.800000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,FEMALE,3.200000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,MALE,4.202047
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,FEMALE,3.400000
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.60000,18.40000,184.000000,3475.000000,FEMALE,3.500000
148,Adelie,Dream,36.00000,17.80000,195.000000,3450.000000,FEMALE,3.400000
149,Adelie,Dream,37.80000,18.10000,193.000000,3750.000000,MALE,3.800000
150,Adelie,Dream,36.00000,17.10000,187.000000,3700.000000,FEMALE,3.700000
151,Adelie,Dream,41.50000,18.50000,201.000000,4000.000000,MALE,4.000000

In [38]:
ibon_ni_cristina['island'] == 'Dream'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

In [39]:
ibon_ni_cristina[ibon_ni_cristina['island'] == 'Dream']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
30,Adelie,Dream,39.5,16.7,178.0,3250.0,FEMALE,3.2
31,Adelie,Dream,37.2,18.1,178.0,3900.0,MALE,3.9
32,Adelie,Dream,39.5,17.8,188.0,3300.0,FEMALE,3.3
33,Adelie,Dream,40.9,18.9,184.0,3900.0,MALE,3.9
34,Adelie,Dream,36.4,17.0,195.0,3325.0,FEMALE,3.3
...,...,...,...,...,...,...,...,...
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,MALE,4.0
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,FEMALE,3.4
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,MALE,3.8
218,Chinstrap,Dream,50.8,19.0,210.0,4100.0,MALE,4.1
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,FEMALE,3.8

<h1> Insight 1 </h1>
<h3> Adelie on Biscoe Island </h3>

In [40]:
# ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Adelie') & (ibon_ni_cristina['island'] == 'Biscoe')].info()
adelie_penguin = ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Adelie') & (ibon_ni_cristina['island'] == 'Biscoe')]
adelie_penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,FEMALE,3.4
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,MALE,3.6
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,FEMALE,3.8
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,MALE,4.0
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,MALE,3.8
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,FEMALE,3.8
26,Adelie,Biscoe,40.6,18.6,183.0,3550.0,MALE,3.6
27,Adelie,Biscoe,40.5,17.9,187.0,3200.0,FEMALE,3.2
28,Adelie,Biscoe,37.9,18.6,172.0,3150.0,FEMALE,3.2
29,Adelie,Biscoe,40.5,18.9,180.0,3950.0,MALE,4.0
50,Adelie,Biscoe,39.6,17.7,186.0,3500.0,FEMALE,3.5
51,Adelie,Biscoe,40.1,18.9,188.0,4300.0,MALE,4.3
52,Adelie,Biscoe,35.0,17.9,190.0,3450.0,FEMALE,3.4
53,Adelie,Biscoe,42.0,19.5,200.0,4050.0,MALE,4.0
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,FEMALE,2.9
55,Adelie,Biscoe,41.4,18.6,191.0,3700.0,MALE,3.7
56,Adelie,Biscoe,39.0,17.5,186.0,3550.0,FEMALE,3.6
57,Adelie,Biscoe,40.6,18.8,193.0,3800.0,MALE,3.8
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,FEMALE,2.8
59,Adelie,Biscoe,37.6,19.1,194.0,3750.0,MALE,3.8
60,Adelie,Biscoe,35.7,16.9,185.0,3150.0,FEMALE,3.2
61,Adelie,Biscoe,41.3,21.1,195.0,4400.0,MALE,4.4
62,Adelie,Biscoe,37.6,17.0,185.0,3600.0,FEMALE,3.6
63,Adelie,Biscoe,41.1,18.2,192.0,4050.0,MALE,4.0
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,FEMALE,2.8
65,Adelie,Biscoe,41.6,18.0,192.0,3950.0,MALE,4.0
66,Adelie,Biscoe,35.5,16.2,195.0,3350.0,FEMALE,3.4
67,Adelie,Biscoe,41.1,19.1,188.0,4100.0,MALE,4.1
100,Adelie,Biscoe,35.0,17.9,192.0,3725.0,FEMALE,3.7
101,Adelie,Biscoe,41.0,20.0,203.0,4725.0,MALE,4.7
102,Adelie,Biscoe,37.7,16.0,183.0,3075.0,FEMALE,3.1
103,Adelie,Biscoe,37.8,20.0,190.0,4250.0,MALE,4.2
104,Adelie,Biscoe,37.9,18.6,193.0,2925.0,FEMALE,2.9
105,Adelie,Biscoe,39.7,18.9,184.0,3550.0,MALE,3.6
106,Adelie,Biscoe,38.6,17.2,199.0,3750.0,FEMALE,3.8
107,Adelie,Biscoe,38.2,20.0,190.0,3900.0,MALE,3.9
108,Adelie,Biscoe,38.1,17.0,181.0,3175.0,FEMALE,3.2
109,Adelie,Biscoe,43.2,19.0,197.0,4775.0,MALE,4.8
110,Adelie,Biscoe,38.1,16.5,198.0,3825.0,FEMALE,3.8
111,Adelie,Biscoe,45.6,20.3,191.0,4600.0,MALE,4.6
112,Adelie,Biscoe,39.7,17.7,193.0,3200.0,FEMALE,3.2
113,Adelie,Biscoe,42.2,19.5,197.0,4275.0,MALE,4.3
114,Adelie,Biscoe,39.6,20.7,191.0,3900.0,FEMALE,3.9
115,Adelie,Biscoe,42.7,18.3,196.0,4075.0,MALE,4.1

<h1> Insight 2 </h1>
<h3> Chinstrap on Dream Island </h3>

In [41]:
chinstrap_penguin = ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Chinstrap') & (ibon_ni_cristina['island'] == 'Dream')]
chinstrap_penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
152,Chinstrap,Dream,46.5,17.9,192.0,3500.0,FEMALE,3.5
153,Chinstrap,Dream,50.0,19.5,196.0,3900.0,MALE,3.9
154,Chinstrap,Dream,51.3,19.2,193.0,3650.0,MALE,3.6
155,Chinstrap,Dream,45.4,18.7,188.0,3525.0,FEMALE,3.5
156,Chinstrap,Dream,52.7,19.8,197.0,3725.0,MALE,3.7
...,...,...,...,...,...,...,...,...
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,MALE,4.0
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,FEMALE,3.4
217,Chinstrap,Dream,49.6,18.2,193.0,3775.0,MALE,3.8
218,Chinstrap,Dream,50.8,19.0,210.0,4100.0,MALE,4.1
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,FEMALE,3.8

<h1> Insight 3 </h1>
<h3> Gento on Biscoe Island </h3>

In [42]:
adelie_penguins = ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Adelie') & (ibon_ni_cristina['island'].isin(['Biscoe', 'Dream', 'Torgersen']))]
adelie_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,MALE,3.800000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,FEMALE,3.800000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,FEMALE,3.200000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,MALE,4.202047
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,FEMALE,3.400000
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.60000,18.40000,184.000000,3475.000000,FEMALE,3.500000
148,Adelie,Dream,36.00000,17.80000,195.000000,3450.000000,FEMALE,3.400000
149,Adelie,Dream,37.80000,18.10000,193.000000,3750.000000,MALE,3.800000
150,Adelie,Dream,36.00000,17.10000,187.000000,3700.000000,FEMALE,3.700000
151,Adelie,Dream,41.50000,18.50000,201.000000,4000.000000,MALE,4.000000

In [43]:
ibon_ni_cristina['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

<h1> Gento Species </h1>

In [44]:
gento = ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Gento') & (ibon_ni_cristina['island'] == 'Biscoe')]

In [45]:
ibon_ni_cristina[ibon_ni_cristina['island'] == 'Dream'].count()

species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
weight_kg            124
dtype: int64

In [46]:
ibon_ni_cristina['species'] == 'Gento'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [47]:
ibon_ni_cristina['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [48]:
ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Gentoo') & (ibon_ni_cristina['island'] == 'Biscoe')]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,weight_kg
220,Gentoo,Biscoe,46.10000,13.20000,211.000000,4500.000000,FEMALE,4.500000
221,Gentoo,Biscoe,50.00000,16.30000,230.000000,5700.000000,MALE,5.700000
222,Gentoo,Biscoe,48.70000,14.10000,210.000000,4450.000000,FEMALE,4.400000
223,Gentoo,Biscoe,50.00000,15.20000,218.000000,5700.000000,MALE,5.700000
224,Gentoo,Biscoe,47.60000,14.50000,215.000000,5400.000000,MALE,5.400000
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,MALE,4.202047
340,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,FEMALE,4.800000
341,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,MALE,5.800000
342,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,FEMALE,5.200000
343,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,MALE,5.400000

In [49]:
gento_df = ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Gentoo') & (ibon_ni_cristina['island'] == 'Biscoe')]

<h1> Insight 4 (Average Weight per Species) </h1>
<p> Gento Species has an average of 5.1 kilograms </p>

In [50]:
np.round(gento_df['weight_kg'].mean() , 1)

5.1

<h1> Insight 5 </h1>
<p> The average weight of Chinstrap specie in Dream Island is 3.7 kilograms </p>

In [51]:
chins_df = ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Chinstrap') & (ibon_ni_cristina['island'] == 'Dream')]

In [52]:
np.round(chins_df['weight_kg'].mean() , 1)

3.7

<h1> Insight 6 </h1>
<p> The average weight of Adelie species in Dream Island is 3.7 kilogram as well </p>

In [53]:
adelie_df = ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Adelie') & (ibon_ni_cristina['island'] == 'Dream')]

In [54]:
np.round(adelie_df['weight_kg'].mean() , 1)

3.7

<h1> Insight 7 </h1>
<p> Gentoo Species in Biscoe Island is the heaviest amongst the penguin specie in dataset </p>

In [55]:
gento_df = ibon_ni_cristina[(ibon_ni_cristina['species'] == 'Gentoo') & (ibon_ni_cristina['island'] == 'Biscoe')]

In [56]:
np.round(gento_df['weight_kg'].mean() , 1)

5.1

<h1> Insight 8 </h1>
<p> How many male/female penguins species live on the 3 different islands?</p>

In [57]:
bird = ibon_ni_cristina.groupby(['species', 'island', 'sex']).count()
bird

C:\Users\User\AppData\Local\Temp\ipykernel_4704\1113705625.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bird = ibon_ni_cristina.groupby(['species', 'island', 'sex']).count()

                            bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island    sex
Adelie    Biscoe    FEMALE              22             22                 22
                    MALE                22             22                 22
          Dream     FEMALE              27             27                 27
                    MALE                29             29                 29
          Torgersen FEMALE              24             24                 24
                    MALE                28             28                 28
Chinstrap Biscoe    FEMALE               0              0                  0
                    MALE                 0              0                  0
          Dream     FEMALE              34             34                 34
                    MALE                34             34                 34
          Torgersen FEMALE               0              0                  0
                    MALE                 0              0                  0
Gentoo    Biscoe    FEMALE              58             58                 58
                    MALE                66             66                 66
          Dream     FEMALE               0              0                  0
                    MALE                 0              0                  0
          Torgersen FEMALE               0              0                  0
                    MALE                 0              0                  0

                            body_mass_g  weight_kg
species   island    sex
Adelie    Biscoe    FEMALE           22         22
                    MALE             22         22
          Dream     FEMALE           27         27
                    MALE             29         29
          Torgersen FEMALE           24         24
                    MALE             28         28
Chinstrap Biscoe    FEMALE            0          0
                    MALE              0          0
          Dream     FEMALE           34         34
                    MALE             34         34
          Torgersen FEMALE            0          0
                    MALE              0          0
Gentoo    Biscoe    FEMALE           58         58
                    MALE             66         66
          Dream     FEMALE            0          0
                    MALE              0          0
          Torgersen FEMALE            0          0
                    MALE              0          0

<h1> Insight 9 </h1>
<p> Who are the heaviest amongst the penguins, Male or Female? </p>

In [58]:
a = ibon_ni_cristina.groupby(['species', 'sex'], observed=True)['weight_kg'].mean()
np.round(a,1)

species    sex
Adelie     FEMALE    3.4
           MALE      4.0
Chinstrap  FEMALE    3.5
           MALE      3.9
Gentoo     FEMALE    4.7
           MALE      5.4
Name: weight_kg, dtype: float64

<h1> Unstack </h1>

In [59]:
ibon_ni_cristina.unstack()

species    0        Adelie
           1        Adelie
           2        Adelie
           3        Adelie
           4        Adelie
                    ...
weight_kg  339    4.202047
           340         4.8
           341         5.8
           342         5.2
           343         5.4
Length: 2752, dtype: object

<h1> Correlation </h1>
<h4> Question 10. Correlation between flipper length and flipper depth </h4>

In [60]:
b_depth_length = ibon_ni_cristina['bill_length_mm'].corr(ibon_ni_cristina['bill_depth_mm'])

In [61]:
b_depth_length

-0.23505287035553277

<h1> Insight 10 </h1>
<h3> There is no correlation between bill depth and bill length </h3>

In [62]:
bill = ibon_ni_cristina['bill_length_mm'].corr(ibon_ni_cristina['bill_depth_mm'])
bill > 0.05

False

In [63]:
bill

-0.23505287035553277

<h2> Insight 11 </h2>
<h3> There is a correlation between flipper length and body mass </h3>

In [64]:
flipper = ibon_ni_cristina['flipper_length_mm'].corr(ibon_ni_cristina['body_mass_g'])
flipper > 0.05

True

<h2>Insight 12</h2>
<h2> Is ther a correlation between Bill Depth and Bill Length in the Adelie Species</h2>
<h3> There is a correlation between Bill Depth and Bill Length in the Adelie Species</h3>

In [65]:
Adelie = ibon_ni_cristina[(ibon_ni_cristina['species']=='Adelie')]
ads = Adelie['bill_depth_mm'].corr(Adelie['bill_length_mm'])
ads > 0.05

True

In [66]:
ads

0.3731961190689369

<h2>Insight 13</h2>
<h2> Is there a correlation between Bill Depth and Bill Length in the Chinstrap Species?</h2>
<h3> There is a correlation between Bill Depth and Bill Length in the Chinstrap Species</h3>

In [67]:
chinstrap = ibon_ni_cristina[(ibon_ni_cristina['species']=='Chinstrap')]
cp = chinstrap['bill_depth_mm'].corr(chinstrap['bill_length_mm'])
cp > 0.05

True

In [68]:
cp

0.6535362081800428

<h2>Insight 14</h2>
<h2> Is there a correlation between Bill Depth and Bill Length in the Gentoo Species?</h2>
<h3> There is a correlation between Bill Depth and Bill Length in the Gentoo Species</h3>

In [69]:
Gentoo = ibon_ni_cristina[(ibon_ni_cristina['species']=='Chinstrap')]
g = Gentoo['bill_depth_mm'].corr(Gentoo['bill_length_mm'])
g > 0.05

True

In [70]:
g

0.6535362081800428

<h2>Insight 15</h2>
<h2> Is there a correlation between Flipper Length and Body Mass?</h2>
<h3> There is a correlation between Flipper Length and Body Mass</h3>

In [71]:
flipper_mass = ibon_ni_cristina['flipper_length_mm'].corr(ibon_ni_cristina['body_mass_g'])

if flipper_mass > 0.05:
    print('There is a correlation between flipper length and body mass ')
else:
    print('There is no correlation between flipper length and body mass ')

There is a correlation between flipper length and body mass

In [72]:
flipper_mass

0.8712017673060112

<h1> Correlation Analysis between Qualitative and Quantitative Data </h1>

In [73]:
pip install scipy

Requirement already satisfied: scipy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.13.0)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.26.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [74]:
from scipy.stats import f_oneway

In [75]:
ibon_ni_cristina[ibon_ni_cristina['sex'] == 'MALE']['body_mass_g']

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
336    4875.000000
337    6000.000000
339    4201.754386
341    5750.000000
343    5400.000000
Name: body_mass_g, Length: 179, dtype: float64

In [76]:
ibon_ni_cristina[ibon_ni_cristina['sex'] == 'FEMALE']['body_mass_g']

1      3800.0
2      3250.0
4      3450.0
6      3625.0
12     3200.0
        ...
332    4650.0
334    4375.0
338    4925.0
340    4850.0
342    5200.0
Name: body_mass_g, Length: 165, dtype: float64

<h1> Insight 16 </h1>

In [78]:
f_stats, p_value = f_oneway(ibon_ni_cristina[ibon_ni_cristina['sex'] == 'FEMALE']['body_mass_g'],
                            ibon_ni_cristina[ibon_ni_cristina['sex'] == 'MALE']['body_mass_g'])

print(p_value)

3.0226600487050253e-15